.bgColor {
  transition: all 1s;
  background-color: orange;
  border-bottom: 1px solid orange;
}

.navbar-brand {
  letter-spacing: 0.5em;
  padding-left: 5%;
}

.navbar-nav {
  font-size: 14px;
}

.navbar {
  border-bottom: 0.5px solid orange;
  padding-right: 5%;
}

#header-title {
  font-size: 100px;
  color: white;
}

#header-text {
  font-size: 18px;
  color: white;
}

header {
  padding-top: 250px;
  padding-bottom: 300px;
  background-image: url(mountain-pic.jpg);
}

.btn {
  border-radius: 300px;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: orange;
  border-color: orange;
}

.orange {
  padding: 70px 0;
  background-color: orange;
  color: white;
}

#orange-header {
  padding-top: 5px;
}

#orange-text {
  font-size: 16px;
  padding-top: 10px;
}

img {
  border-radius: 50%;
}

#white-text {
  font-size: 21px;
  color: gray;
}

.white {
  padding: 100px 0;
}

.black {
  padding: 100px 0;
  background-color: #222;
}

#black-header {
  font-size: 30px;
  color: white;
}

#black-text {
  font-size: 21px;
  color: white;
}

.btn-light {
  background-color: white;
  border-color: white;
}

.item-1 {
  background-image: url(pen.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.item-2 {
  background-image: url(concert.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.item-3 {
  background-image: url(notebook.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.gallery-item {
  height: 200px;
  line-height: 180px;
  text-align: center;
}

.gallery-text {
  font-size: 40px;
  color: white;
}

.fa-thumbtack {
  color: orange;
}

.sanity {
  padding: 40px 0;
}

#sanity-text {
  font-size: 20px;
  font-weight: 300;
  padding: 0 25px;
}

.contact {
  background-color: orange;
  padding: 100px 0;
}

.contact-text {
  font-size: 22px;
}

.fa-phone-alt {
  padding-top: 10px;
}

.footer {
  padding: 50px 0;
}

#footer-text {
  font-weight: 300;
  color: orange;
}

@media screen and (max-width: 700px) {
  header {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #header-title {
    font-size: 50px;
  }

  #header-text {
    font-size: 16px;
  }

  .dropdown-menu {
    background-color: white;
  }

  .navbar-brand {
    letter-spacing: 0;
  }

  .navbar-dark {
    background-color: orange;
  }

  #white-header {
    padding-top: 15px;
  }

  .footer {
    padding: 50px 0 100px;
  }
}
