.navbar-brand {
  letter-spacing: 0.5em;
  padding-left: 5%;
}

.navbar-nav {
  font-size: 14px;
}

.navbar {
  border-bottom: 0.5px solid white;
  padding-right: 5%;
}

#header-title {
  font-size: 100px;
  color: white;
}

#header-text {
  font-size: 18px;
  color: white;
}

header {
  padding-top: 250px;
  padding-bottom: 300px;
  background-image: url(mountain-pic.jpg);
}

.btn {
  border-radius: 300px;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: orange;
  border-color: orange;
}

.orange {
  padding: 70px 0;
  background-color: orange;
  color: white;
}

#orange-header {
  padding-top: 5px;
}

#orange-text {
  font-size: 16px;
  padding-top: 10px;
}

@media screen and (max-width: 700px) {
  header {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #header-title {
    font-size: 50px;
  }

  #header-text {
    font-size: 16px;
  }

  .dropdown-menu {
    background-color: white;
  }

  .navbar-brand {
    letter-spacing: 0;
  }

  .navbar-dark {
    background-color: orange;
  }
}
